version: "3.9"

services:

  web:
    build: .
    container_name: trading_web
    command: >
      sh -c " python manage.py migrate && gunicorn trading_system.asgi:application -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000 "
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - REDIS_HOST=redis
    depends_on:
      - db
      - redis

  db:
    image: postgres:14
    container_name: trading_db
    restart: always
    environment:
      POSTGRES_DB: trading_platform
      POSTGRES_USER: falgun
      POSTGRES_PASSWORD: fuddi@69
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  redis:
    image: redis:7
    container_name: trading_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
